.welcome-message{
  font-size: 2.5em;
  background-color: rgb(38, 184, 28);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size: 2.5em;
  background-color: rgb(184, 28, 28);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}